
/* ------------------------- Logo -------------------------------------------------- */

.logo {
	left: 50px;
	top: 30px;
	z-index: 26;
	height: 70px;
	position: fixed;
	overflow: hidden;
	width: 168px;
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 0s;
}

.logo:hover{
	cursor: pointer;
}

.logo svg {
	position: absolute;
	top: 55%;
	transform: translate(0, -50%) ;
	display: block;
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 0s;
}

.logo path {
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: .15s;
}

.logo:hover svg {
	transform: translate(0, -50%) scale(.95);
}

main.scrolled .logo {
	width: 50px;
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: .15s;
}

main.scrolled .logo svg {
	transform: translate(42px, -32px) scale(1.5);
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: .15s;
}

main.scrolled .logo path {
	opacity: 0;
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 0s;
}

main.scrolled .logo #svg-path-c {
	opacity: 1;
}

@media screen and (max-width: 840px){

	.logo {
		left: 15px;
		top: 10px;
	}

	.logo svg, .logo:hover svg {
		transform: translate(0, -50%) scale(.8);
	}

	main.scrolled .logo svg {
		transform: translate(32px, -32px) scale(1.1);
	}
}
/* ------------------------- Logo Back -------------------------------------------------- */

.logo-back {
	position: fixed;
	width: 250px;
	left: 0;
	height: 140px;
	top: 0;
	z-index: 21;
	background: #0038AE;
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: .15s;
}

#home .logo-back {
	z-index: 9;
}

main.scrolled .logo-back {
	width: 110px;
	transition: all .3s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: .15s;
}

@media screen and (max-width: 840px){
	.logo-back {
		width: 180px;
		height: 100px;
	}

	main.scrolled .logo-back {
		width: 80px;
	}

	#home .logo-back {
		z-index: 25;
	}
}

/* ------------------------- Chat Button -------------------------------------------------- */

.chat-btn {
	position: fixed;
	top: 40px;
	right: 40px;
	width: 60px;
	height: 60px;
	background: #FF4D0F;
	border-radius: 30px;
	z-index: 25;
}

.chat-btn svg {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
}

.chat-btn:hover {
	transform: scale(.9);
}

@media screen and (max-width: 840px){
	.chat-btn {
		top: 20px;
		right: 85px;
		z-index: 18;
	}
}


/* ------------------------- Navigation -------------------------------------------------- */

nav {
	top: 0;
	position: fixed;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 23;
	opacity: 0;
	visibility: hidden;
	transform: scale(1.2);
	transition: all .5s cubic-bezier(0.7, 0, 0.3, 1);
	transition-delay: 0;
}

.nav-block {
	width: 100%;
   top: 50%;
   position: absolute;
   transform: translate(0%, -50%);
}

.nav-block .sub-wrap:first-child {
	width: 60%;
}

.nav-block .sub-wrap:last-child {
	width: 40%;
}

nav.active {
	top: 0;
	left: 0;
	opacity: 1;
	transform: scale(1);
	visibility: visible;
	transition: all .5s cubic-bezier(0.7, 0, 0.3, 1);
}


/* ------------------------- Navigation Back White -------------------------------------------------- */

.navigation-back-white {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	z-index: 20;
	background: #FFF;
	left: calc(-100% - 45vh);
	left: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .5s cubic-bezier(0.87, 0, 0.13, 1);
	transition-delay: 0s;
}

main.active .navigation-back-white {
	left: 0;
	opacity: 1;
	visibility: visible;
	transition: all .5s cubic-bezier(0.87, 0, 0.13, 1);
	transition-delay: 0s;
}

.navigation-back-white .rec-shape-svg {
	transform: translate(-1px, 0);
}

.navigation-back-white .svg-fill {
	fill: #FFF;
}

/* ------------------------- Navigation Back Blue -------------------------------------------------- */

.navigation-back-blue {
	position: fixed;
	top: 0;
	width: calc((100% - 1020px) / 2);
	height: 100vh;
	z-index: 21;
	background: #0038AE;
	left: calc(-100% - 45vh);
	left: -25vw;
	opacity: 0;
	visibility: hidden;
	transition: all .5s cubic-bezier(0.87, 0, 0.13, 1);
	transition-delay: 0s;
}

main.active .navigation-back-blue {
	left: 0;
	opacity: 1;
	visibility: visible;
	transition: all .5s cubic-bezier(0.87, 0, 0.13, 1);
	transition-delay: 0;
}

.navigation-back-blue .rec-shape-svg {
	transform: translate(-1px, 0);
}

.navigation-back-blue .svg-fill {
	fill: #0038AE;
}

@media screen and (max-width: 640px){

	.navigation-back-blue {
		background: #E7EBEB;
	}

	main.active .navigation-back-blue {
		left: 0;
	}

	.navigation-back-blue .svg-fill {
		fill: #E7EBEB;
	}

}
/* ------------------------- Black Overlay -------------------------------------------------- */

.black-overlay {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(35, 36, 45, 0.5);
	z-index: 19;
	visibility: hidden;
	opacity: 0;
	transition: all .75s cubic-bezier(0.87, 0, 0.13, 1);
}

main.active .black-overlay {
	visibility: visible;
	opacity: 1;
	transition: all .75s cubic-bezier(0.87, 0, 0.13, 1);
}

/* ------------------------- Navigation Services Links -------------------------------------------------- */

nav ul.services-nav {
	height: 100%;
	width: calc(100% - 60px);
	float: left;
	height: 100px;
}

nav ul.services-nav li {
	float: left;
	width: 100%;
	height: 140px;
	position: relative;
	margin-bottom: 30px;
}

nav ul.services-nav li:last-child {
	margin-bottom: 0;
}

nav ul.services-nav li a {
	float: left;
	width: 100%;
	height: 100%;
	background: #171C21;
	position: relative;
	overflow: hidden;
}

nav ul.services-nav li a h4 {
	font-size: 32px;
	line-height: 40px;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	width: 100%;
	padding: 0 40px;
	color: #fff;
	margin: 0;
}

nav ul.services-nav li a .rec-shape-svg {
	position: absolute;
	left: auto;
	right: -1px;
	top: -1px;
	transform: scale(-1,-1) translate(-100%, 0);
	height: calc(100% + 2px);
	pointer-events: none;
}

nav ul.services-nav li a .rec-shape-svg .svg-fill {
	fill: #fff;
}

nav ul.services-nav li a:hover .rec-shape-svg {
	transform: scale(-1,-1) translate(0, 0);
}

nav ul.services-nav li a .dark-overlay {
	z-index: 0;
	opacity: .2;
}

nav ul.services-nav li a:hover .dark-overlay {
	background: #171C21;
	z-index: 0;
	opacity: .8;
}

nav ul.services-nav li .cat-thumb-nav {
	width: 180px;
	height: 180px;
	position: absolute;
	right: 0;
	top: -20px;
	transform: translate(5%, 0);
	pointer-events: none;
	opacity: 0;
}

nav ul.services-nav li:hover .cat-thumb-nav {
	opacity: 1;
	transform: translate(35%, 0);
}

@media screen and (max-width: 1040px){
	nav ul.services-nav li a h4 {
		font-size: 28px;
		line-height: 32px;
	}
	nav ul.services-nav {
		width: 100%;
	}
}

@media screen and (max-width: 840px){
}


@media screen and (max-width: 640px){

	nav ul.services-nav {
		width: 100%;
		height: auto;
	}

	.nav-block .wrap {
		display: flex;
	    flex-flow: row wrap;
	    align-content: center;
	    justify-content: center;
	}

	.nav-block .sub-wrap:first-child {
		width: 100%;
		order: 2;
	}

	.nav-block .sub-wrap:last-child {
		width: 100%;
		order: 1;
	}

	nav ul.services-nav li {
		height: 60px;
		margin-bottom: 10px;
	}

	nav ul.services-nav li a h4 {
		font-size: 21px;
		line-height: 24px;
		padding: 0 20px;
		text-align: right;
	}

	nav ul.services-nav li .cat-thumb-nav, nav ul.services-nav li a .rec-shape-svg{
		display: none;
	}

	nav ul.services-nav li a .dark-overlay {
		opacity: .6;
	}


}

/* ------------------------- Navigation Main Links -------------------------------------------------- */

nav ul.main-nav {
	width: 100%;
	float: left;
	padding-top: 0px;
	padding-bottom: 60px;
}

nav ul.main-nav li {
	float: right;
	position: relative;
	padding-left: 30px;
}

nav ul.main-nav svg {
	position: absolute;
	left: 0;
	top: 50%;
	transform: translate(0, -50%);
	left: -10px;
	opacity: 0;
}

nav ul.main-nav svg path{
	fill: #171C21;
}

nav ul.main-nav li a {
	display: block;
	padding: 5px 0 12px 0;
	text-decoration: none;
	color: #171C21;
	position: relative;
	text-transform: uppercase;
	font-family: 'Varela Round','IsidoraSans-Black', sans-serif;
	font-size: 38px;
	line-height: 44px;
	text-align: right;
}

nav ul.main-nav li.active a {
 color: #0038AE;
}

nav ul.main-nav li:hover svg {
	left: 0;
	opacity: 1;
}

nav ul.main-nav li.active svg {
	left: 0;
	opacity: 1;
}

nav ul.main-nav li.active svg path {
	fill: #0038AE;
}

@media screen and (max-width: 1220px){

}

@media screen and (max-width: 1040px){
	nav ul.main-nav li a {
		font-size: 32px;
		line-height: 36px;
	}
}

@media screen and (max-width: 650px){
	nav ul.main-nav {
		padding-bottom: 20px;
		padding-top: 40px;
	}
	nav ul.main-nav li {
		display: block;
	}

	nav ul.main-nav li a {
		font-size: 32px;
		line-height: 36px;
		padding: 0 0 7px 0;
	}

	nav ul.contact-links {
		display: none;
	}

}

/* ------------------------- Navigation Contact Links -------------------------------------------------- */

nav ul.contact-links {
	float: left;
	width: 100%;
}

nav ul.contact-links li {
	float: right;
	position: relative;
}

nav ul.contact-links li a {
	color: rgba(23, 28, 33, 0.8);
	display: block;
	text-align: right;
	line-height: 26px;
}

nav ul.contact-links li a:hover {
	color: #FF4D0F;
}

@media screen and (max-width: 1040px){
	nav ul.contact-links li a {
		font-size: 16px;
	}
}


/* ------------------------- Navigation Socials -------------------------------------------------- */

nav .social-ico-block {
	width: 100%;
	padding-top: 25px;
	float: left;
}

nav .social-ico {
	float: right;
	margin-left: 5px;
}

@media screen and (max-width: 640px){
	nav .social-ico-block {
		padding-top: 10px;
		padding-bottom: 40px;
	}

	nav .social-ico {
		background: #FF4D0F;
	}
}



/* ------------------------- Nav Button -------------------------------------------------- */

.nav-btn {
	position: fixed;
	right: 110px;
	top: 40px;
	width: 140px;
	height: 60px;
	cursor: pointer;
	z-index: 28;
	background: #171C21;
	border-radius: 30px;
	border: 1px solid rgba(255, 255, 255, 0.15);
}

.nav-btn span {
	color: #fff;
	position: absolute;
	left: 35px;
	line-height: 30px;
	top: 12px;
	font-size: 15px;
	font-family: 'Varela Round','IsidoraSans-SemiBold', sans-serif;
}

.nav-btn .nav-close {
	opacity: 0;
	visibility: hidden;
	transform: translate(15px, 0);
}

.nav-btn.active .nav-open {
	opacity: 0;
	visibility: hidden;
	transform: translate(-15px, 0);
}

.nav-btn.active .nav-close {
	opacity: 1;
	visibility: visible;
	transform: translate(0,0);
}

.nav-btn:hover {
	transform: scale(.95);
}

@media screen and (max-width: 840px){
	.nav-btn span {
		display: none;
	}

	.nav-btn {
		position: fixed;
		right: 20px;
		top: 20px;
		width: 60px;
		height: 60px;
	}

}

/* ------------------------- Nav Icon -------------------------------------------------- */

.nav-icon {
	position: absolute;
	right: 15px;
	top: 0;
	width: 60px;
	height: 60px;
	border-radius: 30px;
 }

 .hamburger-bar {
	width: 20px;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(255, 255, 255, 0);
 }

 .hamburger-bar:before,
 .hamburger-bar:after
 {
	content: '';
	position: absolute;
	width: 20px;
	height: 1px;
	background: #FFF;
 }

 .hamburger-bar:before {
	transform: rotate(0deg) translate(0px,-4px);
 }

 .hamburger-bar:after {
	 transform: rotate(0deg) translate(0px,4px);
 }

 .nav-btn.active .hamburger-bar:before {
	transform: rotate(-45deg) translate(0px,0px);
 }

 .nav-btn.active .hamburger-bar:after {
	transform: rotate(45deg) translate(0px,0px);
 }


@media screen and (max-width: 840px){
	.nav-icon {
		right: 0px;
	 }

}

/* ------------------------- Animations -------------------------------------------------- */

.nav-btn span, nav svg, .services-nav .dark-overlay, .cat-thumb-nav  {
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

nav a, nav a:after, .nav-icon, .hamburger-bar, .hamburger-bar:before, .hamburger-bar:after, .logo, .chat-btn, .nav-btn {
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
  	-ms-transition: all .15s ease-in-out;
  	-o-transition: all .15s ease-in-out;
  	transition: all .15s ease-in-out;
 }
