#gdpr-box{
    right: unset;
    left: 40px;
}
.gdpr-button{
    right: unset;
    left: 40px;
}
nav ul.main-nav{
    float: right;
}
nav ul.main-nav li{
    padding-right: 30px;
    padding-left: unset;
    width: 100%;
}
nav ul.main-nav svg{
    left: unset;
    right: -10px;
}
nav ul.main-nav li.active svg{
    left: unset;
    right: 0;
}
nav ul.main-nav li:hover svg{
    left: unset;
    right: 0;
}
.play-shape-header{
    left: 0;
    right: unset;
}

@media screen and (max-width: 640px){
#gdpr-box {
    right: 50%;
}
}
.breadcrumb li:before{
    right: unset;
    left: 10px;
}
.breadcrumb li{
    float:right;
    padding-right: unset;
    padding-left: 40px;
}
